<footer role="contentinfo">
  <div id="site-footer">
  <address>
    <strong><a href="http://scholarslab.org">Scholars' Lab</a></strong><br/>
    <a href="http://lib.virginia.edu">University of Virginia Library</a><br/>
    P.O. Box 400129<br/>
    Charlottesville, VA 22904-4129<br/>
    <abbr title="Phone">T:</abbr> 434.243.8800<br/>
    <abbr title="Fax">F:</abbr> 434.924.1431<br/>
  </address>
</div>
  <div id="global-footer">
    <a id="scholarslab-link" href="http://scholarslab.org"><img src="//static.scholarslab.org/images/logos/slab/slab-logo-white-125px.png"></a>
    <a id="uvalibrary-link" href="http://library.virginia.edu">
      <img id="uvalibrary" src="//static.scholarslab.org/images/logos/uvalibrary/uvalibrary-logo-white-200px.png">
      <img id="rotunda" src="//static.scholarslab.org/images/logos/rotunda/rotunda-white-50px.png">
    </a>
  </div>
</footer>
