<footer class="vcard" role="contentinfo">
    <address class="vcard">
      <span class="org fn">
        <a class="url organization-name" href="http://scholarslab.org">Scholars’ Lab</a>
        <a class="organization-unit extended-address" href="http://lib.virginia.edu">University of Virginia Library</a>
      </span>
      <span class="street-address">P.O. Box 400129</span>,
      <span class="locality">Charlottesville</span>, <abbr title="Virginia" class="region">VA</abbr> <span class="postal-code">22904-4129</span>
      <span class="tel">434.243.8800 <abbr class="type" title="work">(T)</abbr></span>
      <span class="tel">434.924.1431 <abbr class="type" title="fax">(F)</abbr></span>
      <ul class="elsewhere">
        <li><a class="url" href="http://twitter.com/scholarslab">Twitter</a></li>
        <li><a class="url" href="https://www.facebook.com/scholarslab">Facebook</a></li>
        <li><a class="url" href="https://plus.google.com/114472010795641313811">Google</a></li>
        <li><a class="url" href="https://vimeo.com/scholarslab">Vimeo</a></li>
        <li><a class="url" href="http://github.com/scholarslab/">Github</a></li>
      </ul>
    </address>
</footer>
