<div id="global-header">
  <a id="scholarslab-link" href="http://scholarslab.org"><img src="//static.scholarslab.org/images/logos/slab/slab-logo-white-125px.png"></a>
  <a id="uvalibrary-link" href="http://library.virginia.edu">
    <img id="uvalibrary" src="//static.scholarslab.org/images/logos/uvalibrary/uvalibrary-logo-white-200px.png">
    <img id="rotunda" src="//static.scholarslab.org/images/logos/rotunda/rotunda-white-50px.png">
  </a>
</div>
<header role="banner">
  <h1><a class="brand" href="/"><%= settings.app_name %></a></h1>
</header>
