<h1><%= title_case(@title) %></h1>


<div id="course_files">

  <div class="context">
    <%= @content %>
  </div>

  <h2>Course Files</h2>
  <ul>
    <% @files.each do |link| %>
      <li><%= make_link(link) %></li>
    <% end %>
  </ul>
</div>
