<h1><%= title_case(@title) %></h1>

<div class="context">
<%= @content %>
</div>
<div class="course-files">
  <h2>Course Files</h2>
  <ul>
    <% @files.each do |link| %>
      <li><%= make_link(link) %></li>
    <% end %>
  </ul>
</div>
