<div id="introduction">
  <p>The Scholars' Lab GIS workshop sessions are designed to be accessible without prior knowledge or experience with GIS software and to give attendees hands-on experience with step-by-step instructions. Workshop topics are based on the how-to questions Kelly and Chris answer daily in their interactions with faculty and students in the Scholars’ Lab, in addition to emerging themes in geospatial scholarship.</p>
  <div class="h-card" id="chris-gist">
    <h2>Chris Gist</h2>
    <ul>
      <li><a href="mailto:dcg6b@virginia.edu">dcg6b@virginia.edu</a></li>
      <li>434.982.2637</li>
      <li><a href="http://twitter.com/adarwinian">@adarwinian</a></li>
    </ul>
    <img src="http://www.scholarslab.org/wp-content/uploads/2012/08/xchrisG-110x110.png.pagespeed.ic.RVGKmTDAEL.png">
      <p>GIS Specialist with the University of Virginia library  where he builds spatial data collections, teaches GIS courses, and provides GIS user support. His research work includes various demographic, neighborhood indicator, and funding analysis projects in and around Richmond and various environmental science and humanities GIS projects. Chris is a certified GIS professional (GISP).</p>
  </div>
  <div class="h-card" id="kelly-johnston">
    <h2>Kelly Johnston</h2>
    <ul>
      <li><a href="mailto:kgj3t@virginia.edu">kgj3t@virginia.edu</a></li>
      <li>434.243.4242</li>
      <li><a href="http://twitter.com/KellyGJohnston">@KellyGJohnston</a></li>
    </ul>
    <img src="http://1.gravatar.com/avatar/943e2309c3ec8d167ab810f9572d9d6b?s=110&d=identicon&r=G" alt="Portrait of Kelly Johnston">
    <p>As Geographic Information Systems Specialist for the Scholars’ Lab, Kelly works with faculty, staff, and students to visualize, analyze, create, and manage geographic data. He earned a master’s degree in Geographic Information Science from Indiana University Purdue University Indianapolis. His research interests include applied geography and cartography as an art form.</p>
  </div>
</div>

<div id="courses">
<%= erb :_sidebar %>
</div>
