@font-face {
    font-family: 'socialicons';
    src: url('//static.scholarslab.org/fonts/socialicons/socialicons.eot');
    src: url('//static.scholarslab.org/fonts/socialicons/socialicons.eot?#iefix') format('embedded-opentype'),
         url('//static.scholarslab.org/fonts/socialicons/socialicons.woff') format('woff'),
         url('//static.scholarslab.org/fonts/socialicons/socialicons.ttf') format('truetype'),
         url('//static.scholarslab.org/fonts/socialicons/socialicons.svg#socialicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  @include box-sizing(border-box);
  margin:0;
  padding:0;
}

@include establish-baseline;

html {
  @include background(
    linear-gradient(left, rgba(darken($base-color, 20%),0.65), rgba(darken($base-color, 20%),0.65)),
    url('/img/map-charlottesville.jpg')
  );
  background-position:top left;
  background-size:cover;
  background-attachment:fixed;
}

body {
  font-family: $default-font;
  color: $default-color;
  @include container;
  position:relative;
  padding:0;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-active-color,
  $link-visited-color, $link-focus-color);

  @include single-transition(color);

  &:before {
    @include single-transition(color);
  }

  img {
    @include single-transition(opacity);
  }
}

#{headings()} {
  a {
    text-decoration:none;
  }
}

h1,h2 {
  font-weight:normal;
}

h1 {
  @include adjust-font-size-to(32px);
  @include adjust-leading-to(2,32px);
}

h2 {
  @include adjust-font-size-to(24px);
  @include leader(2, 24px);
}

h3 {
  @include adjust-font-size-to(20px);
  color: $default-color-light;
  font-weight:normal;
  @include leader(2, 20px);
  h2 + & {
    @include leader(1, 20px);
  }
}

h4 {
  @include adjust-font-size-to($base-font-size);
  @include leader(2);
  h3 + & {
    @include leader(1);
  }
}

h5 {
  @include adjust-font-size-to($base-font-size);
  color: $default-color-light;
  @include leader(2);
  h4 + & {
    @include leader(1);
  }
}

h6 {
  @include adjust-font-size-to($base-font-size);
  font-style:italic;
  color: $default-color-light;
  @include leader(2);
  h5 + & {
    @include leader(1);
  }
}

#{headings(3,6)} {
   + p {
    margin-top:0;
  }
}

p {
  margin: rhythm(1) 0;
}

blockquote {
  margin:0;
  border-left: 3px solid $default-color-lightest;
  padding-left: rhythm(1);
  font-style:italic;

  & + figcaption {
    margin-top:0;
    text-align:right;
    @include adjust-font-size-to(14px);
    @include adjust-leading-to(1, 14px);
    color: $default-color-light;
  }

  & :last-child {
    margin-bottom:0;
  }
}

figure {
  margin: rhythm(2) 0;
}

dl {
  margin: rhythm(1) 0;

  dt {
    font-weight:bold;
  }
  dd {
    margin: 0 0 rhythm(1) rhythm(1);
  }
}

ul {
  list-style:disc;
}

ol {
  list-style:decimal;
}

ul,ol {
  padding:0;
  margin: rhythm(1) 0 rhythm(1) rhythm(1);

  nav & {
    margin-left:0;
  }

  ul {
    list-style: circle;
  }

  ol {
    list-style: upper-alpha;
  }

  ul, ol {
    margin: 0 0 0 rhythm(1);

    ul {
      list-style:square;
    }

    ol {
      list-style:lower-alpha;
    }
  }
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

th,
td {
  padding: rhythm(1) rhythm(0.5) 0;
  @include trailing-border(1px);
  border-color: rgba(0,0,0,.2);
}

th {
  @include trailing-border(3px);
  text-align:left;
}

img {
  max-width:100%;
  width:auto;
  height:auto;
}

code {
  font-family: monospace;
  color: rgba(150,50, 255, 0.75);
}

del {
  color: $default-color-lighter;
}

ins {
  text-decoration:none;
  background: rgba(150,50, 255, 0.1);
}

address {
  font-style:normal;
  margin: rhythm(1) 0;
}

br {
  margin:0;
  line-height:0;
}

hr {
  border:none;
  &:before {
    content: " · · · ";
    color: rgba(white, 0.5);
  }
}

header[role=banner] {
  @include clearfix;
  border-bottom: rhythm(0.25) solid rgba(darken($base-color, 20%), 0.5);
  @include background(
    linear-gradient(left, rgba(darken($base-color, 20%), 0.75), rgba(darken($base-color, 20%), 0.75)),
    url('/img/map-charlottesville.jpg')
  );
  background-position:top left;
  background-size:cover;
  background-attachment:fixed;

  @include background-size(cover);
  padding-left: $grid-padding;
  padding-right: $grid-padding;

  h1 {
    @include rhythm(0,1,1,0,36px);
  }

  a {
    color: #fcfcfc;
    text-decoration:none;
  }

  nav {
    background: rgba(0, 200,200, 0.5);
    ul {
      margin:0;
    }

    li {
      display:inline;
    }
  }
}

div[role=main] {
  background: #fff;
  background: rgba(255,255,255,0.9);
  padding: rhythm(1) $grid-padding;
  @include clearfix;
}

#secondary {
  h2:first-child {
    margin:0;
    @include adjust-font-size-to(16px);
    @include adjust-leading-to(1, 16px);
    @include leader(1, 16px);
    font-weight:bold;
  }

  nav, ul {
    margin:0;
  }
}

footer[role=contentinfo] {
  @include clearfix;
  @include adjust-font-size-to(14px);
  @include adjust-leading-to(0.75, 14px);
  background: darken($base-color, 20%);
  background-color: rgba(black, 0.35);
  color: #eee;
  color: rgba(255,255,255,0.75);
  text-align:center;
  padding-top: rhythm(1,14px);
  .elsewhere {
    list-style:none;
    text-align:center;

    li {
      display:inline;
    }
  }

  a {
    @include link-colors(#eee,#eee, #fff, #fff, #fff);
    @include link-colors(rgba(255,255,255,0.75));
    text-decoration:none;
    &:link,
    &:visited {
      &:before {
        color: #ddd;
        color: rgba(white, 0.5);
      }
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        color: #f0f0f0;
        color: rgba(white, 0.75);
      }
    }
  }

  .vcard {
    span {
      display:inline-block;
    }

    .organization-name,
    .organization-unit,
    .postal-code,
    abbr[title=work] {
      &:after {
        content: " ·";
        color: rgba(white, 0.25);
        text-decoration:none !important;
      }
    }

    abbr {
      border:none;
      &.type {
        color: rgba(white, 0.5);
      }
    }
  }
}

.elsewhere a {
  @include squish-text();
  vertical-align:sub !important;
}

.elsewhere a:before {
  font-size: 54px !important;
  line-height: 54px;
  font-family: 'socialicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  color: rgba(black,0.25);
}

.google:before {
  content: "\2b";
}
.github:before {
  content: "\67";
}
.twitter:before {
  content: "\74";
}
.facebook:before {
  content: "\66";
}
.vimeo:before {
  content: "\76";
}


#global-header {
  background: darken($base-color, 20%);
  background-color: rgba(black, 0.35);
  padding: rhythm(0.5) $grid-padding;
  display:table;
  width: 100%;
  a {
    text-decoration:none;
    width:50%;
    display:table-cell;
    &:link,
    &:visited {
      img {
        opacity: 0.7;
      }
    }
    &:hover,
    &:focus {
      img {
        opacity: 0.8;
      }
    }
    &:active {
      img {
        opacity: 0.9;
      }
    }
  }

  img {
    vertical-align:middle;
  }

}

#scholarslab-link {
}

#uvalibrary-link {
  text-align:right;
}

#uvalibrary {
  margin-right: gutter(16);
}

#rotunda {
  background: rgba(black, 0.25) !important;
  padding: 0.5em;
  width: 3em;
}


@include at-breakpoint(8) {
  header[role=banner],
  div[role=main],
  #global-header {
    @include pad(1,1,18);
  }

  #rotunda {
    display:inline;
  }
}

@include at-breakpoint(12) {

  header[role=banner] {
    h1 {
      @include adjust-font-size-to(48px);
      @include leader(1,48px);
      @include trailer(1,48px);
    }
  }

  #primary {
    @include span-columns(10,16);
  }

  #secondary {
    @include span-columns(5 omega, 16);
  }

}

@if $development == true {
    html {
        @include baseline-grid-background;
        background-attachment:scroll;
    }
    body {
        @include susy-grid-background;
    }
}

